.body{
	background-color: #1e2124;

	display: grid;
	grid-template-rows: 190px 1fr 200px;
	grid-template-columns: 1fr;

	margin: 0;

	height: 100vh;

	font-size: 15px;
}

.header{
	grid-row: 1;

}

.logo{
	display: block;
	margin: 0 auto;
	object-fit: contain;
	max-height: 190px;
	width: auto;
}


.article{
	grid-row: 2;

}


.btn{
	display: block;
	width: 40%;	
	height: 25%;

	margin-top: 2.5%;
	margin-bottom: 2.5%;
	margin-left: auto;
	margin-right: auto;

	text-align: center;

	border: 1px solid #7289da;
	border-radius: 50px;

	color: #ffffff;

	font-size: 20px;
	font-family: monospace;

	background-color: #1e2124;
	transition-duration: 0.4s;
}

.btn:hover{
	background-color: #7289da;
	color: #ffffff;
}

.footer{
	margin-top: 40px;
	position: relative;
	font-family: monospace;
	color: #ffffff;
	grid-row: 3;
}

.footer p{
	position: absolute;
	bottom: 50%;
}

