<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/index.css}">
</head>
<body class="body">
	<header class="header">
		<img th:src="@{http://localhost:8080/images/EstudiAr.jpg}" alt="EstudiAr" class="logo" onclick="location.href='/'">
	</header>

	<div class="article">
		<button onclick="location.href='/categories'" class="btn">Categorías</button>
		<button onclick="location.href='/close'" class="btn">Cerrar</button>

	</div>

	<footer class="footer">
		<p>Advertencia: es importante que al salir de la página primero acceda al apartado "Cerrar" así esta aplicación puede finalizar y no consumir recursos de la computadora.</p>
	</footer>
</body>
</html>